<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
  </head>
  <body>
    <h1>user details</h1>
    <form method="post" action="/user/signup">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required /><br /><br />
      <label for="email">email:</label>
      <input type="email" name="email" required /><br /><br />
      <label for="password">password</label>
      <input type="password" name="password" required /><br /><br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
